<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}Goal Tracer{% endblock %}</title>

	<script src="https://cdn.tailwindcss.com"></script>
	{% load static %}
	<link rel="icon" type="image/png" href="{% static 'img/favicon.svg' %}" class="rounded-lg">
	{% block extra_head %}{% endblock %}
</head>
<body>
	{% csrf_token %}
	<!-- Agrupamento dos links da pagina  -->
	<nav class="bg-white-600 flex shadow-sm px-6 py-4 justify-between">
		<!-- Div da logo e o titulo -->
		<div class="flex">
			<img src="{% static 'img/small-logo.png' %}" alt="Logo" class="w-[60px] h-auto">
			<h1 class="text-2xl font-bold p-2">Goal Tracer</h1>
		</div>
		<!-- Div dos links -->
		<div class="flex items-center gap-6 text-gray-500 text-sm">
			<a href="{% url 'atividades' %}" class="{% block nav_atividades %}text-gray-800{% endblock %}">Atividades</a>
			<a href="{% url 'calendario' %}" class="{% block nav_calendario %}text-gray-800{% endblock %}">Calendário</a>
			<a href="{% url 'index' %}" class="{% block nav_semana %}text-gray-800{% endblock %}">Semana</a>
			<a href="{% url 'hoje' %}" class="{% block nav_hoje %}text-gray-800{% endblock %}">Hoje</a>
			<a href="{% url 'metas' %}" class="{% block nav_metas %}text-gray-800{% endblock %}">Metas</a>
			<a href="{% url 'relatorios' %}" class="{% block nav_relatorios %}text-gray-800{% endblock %}">Relatórios</a>

			<form method="post" action="{% url 'logout' %}" class="inline">
				{% csrf_token %}
				<button type="submit" class="text-gray-800">Sair</button>
			</form>
		</div>
	</nav>

	<!-- Aqui cada pagina coloca o conteudo dela -->
	{% block content %}
	{% endblock %}

	{% block scripts %}
	{% endblock %}
</body>

</html>