<!DOCTYPE html>
<html lang="pt-BR">
  
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Goal Tracer</title>

		<script src="https://cdn.tailwindcss.com"></script>
		<!-- Carregando o favicon -->
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'img/favicon.svg' %}" class="rounded-lg">
	</head>

	<body>
		<!-- Agrupamento dos links da pagina  -->
		<nav class="bg-white-600 flex shadow-sm px-6 py-4 justify-between">
			<!-- Div da logo e o titulo -->
			<div class="flex">
				{% load static %}
				<img src="{% static 'img/small-logo.png' %}" alt="Logo" class="w-[60px] h-auto">
				<h1 class="text-2xl font-bold p-2">Goal Tracer</h1>
			</div>
			<!-- Div dos links -->
			<div class="flex items-center gap-6 text-gray-500 text-sm">
				<a href="{% url 'calendario' %}" class="bg-blue-100 text-blue-600 px-4 py-2 rounded-full font-bold">Calendário</a>
				<a href="{% url 'index' %}" class="text-gray-800">Semana</a>
				<a href="{% url 'hoje' %}" class="text-gray-800">Hoje</a>
				<a href="{% url 'metas' %}" class="text-gray-800">Metas</a>
				<a href="{% url 'relatorios' %}" class="text-gray-800">Relatórios</a>
			</div>
		</nav>

		<p>...</p>
	</body>

</html>