<!DOCTYPE html>
<html lang="pt-BR">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeFlow - Metas</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <nav class="bg-white-600 flex shadow-sm px-6 py-4 justify-between">
      <div class="flex">
        <h1 class="text-2xl font-bold">Goal Tracer</h1>
        <!-- Inserir a imagem da logo -->
      </div>

      <div class="flex items-center gap-6 text-gray-500 text-sm">
        <a href="#" class="text-gray-800">Calendário</a>
        <a href="./index.html" class="bg-blue-100 text-blue-600 px-4 py-2 rounded-full font-bold">Semana</a>
        <a href="#" class="text-gray-800">Hoje</a>
        <a href="./metas.html" class="text-gray-800">Metas</a>
        <a href="#" class="text-gray-800">Relatórios</a>
      </div>
    </nav>
    
	<!-- Div para os conteudos do painel principal e os dias da semana -->
    <div>

		<!-- Div do painel de cima: planejamento semanal e botao de nova atividade -->
		<div class="grid grid-cols-2 gap-4 m-6">
		  	<!-- Div do planejamento semanal -->
			<div class="pl-5">
				<h2 class="text-3xl font-bold">Planejamento Semanal</h2>
				<p class="text-gray-400 text-sm mt-1">16 a 22 de Maio, 2026</p>
			</div>
      
			<!-- Div do botao de nova atividade -->
			<div class="flex justify-end pr-10">
				<button class="bg-blue-600 text-white rounded-xl px-5 py-1.5">+ Nova Atividade</button>
			</div>
      	</div>
      
      
      	<!-- Div para cada dia da semana-->
		<div class="grid grid-cols-1 gap-4 px-10 py-5">
				<!-- Div para segunda -->
				<div class="">
					<!-- Header -->
					<div class="grid grid-cols-2 gap-4 bg-gradient-to-r from-gray-100 to-blue-100 text-black rounded-t-lg pl-5 pr-4 py-4">
						<p class="text-lg">Segunda</p>
						<p class="text-gray-500 flex justify-end">2.5h/3.0h</p>
					</div>
			
					<!-- Body -->
					<div class="p-5 rounded-b-lg border-2 shadow-lg">
						<!-- Listando atividades -->
						<div class="flex items-center gap-3 bg-gray-50 border-gray-300 border-2 rounded-lg p-3 mb-2">
							<input type="checkbox" class="w-5 h-5">
							<p>Estudar React</p>
						</div>
						<div class="flex items-center gap-3 bg-gray-50 border-gray-300 border-2 rounded-lg p-3">
							<input type="checkbox" class="w-5 h-5">
							<p>Exercícios</p>
						</div>
					</div>
				</div>

				<!-- Div para terça -->
				<div class="">
					<!-- Header -->
					<div class="grid grid-cols-2 gap-4 bg-gradient-to-r from-gray-100 to-blue-100 text-black rounded-t-lg pl-5 pr-4 py-4">
						<p class="text-lg">Terça</p>
						<p class="text-gray-500 flex justify-end">0h/3.0h</p>
					</div>
			
					<!-- Body -->
					<div class="p-5 rounded-b-lg border-2 shadow-lg">
						<!-- Listando atividades -->
						<div class="flex items-center gap-3 bg-gray-50 border-gray-300 border-2 rounded-lg p-3">
							<input type="checkbox" class="w-5 h-5">
							<p>Projeto Pessoal</p>
						</div>
					</div>
				</div>

				<!-- Div para quarta -->
				<div class="">
					<!-- Header -->
					<div class="grid grid-cols-2 gap-4 bg-gradient-to-r from-gray-100 to-blue-100 text-black rounded-t-lg pl-5 pr-4 py-4">
						<p class="text-lg">Quarta</p>
						<p class="text-gray-500 flex justify-end">0h/3.0h</p>
					</div>
			
					<!-- Body -->
					<div class="p-5 rounded-b-lg border-2 shadow-lg">
						<!-- Listando atividades -->
						<div class="flex items-center gap-3 bg-gray-50 border-gray-300 border-2 rounded-lg p-3">
							<input type="checkbox" class="w-5 h-5">
							<p>Leitura</p>
						</div>
					</div>
				</div>
		</div>
			
	</div>
      
  </body>

</html>