<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Goal Tracer</title>

	<script src="https://cdn.tailwindcss.com"></script>
	<!-- Carregando o favicon -->
	{% load static %}
	<link rel="icon" type="image/png" href="{% static 'img/favicon.svg' %}" class="rounded-lg">
</head>


<body>
	<!-- Agrupamento dos links da pagina  -->
	<nav class="bg-white-600 flex shadow-sm px-6 py-4 justify-between">
		<!-- Div da logo e o titulo -->
		<div class="flex">
			{% load static %}
			<img src="{% static 'img/small-logo.png' %}" alt="Logo" class="w-[60px] h-auto">
			<h1 class="text-2xl font-bold p-2">Goal Tracer</h1>
		</div>
		<!-- Div dos links -->
		<div class="flex items-center gap-6 text-gray-500 text-sm">
			<a href="{% url 'calendario' %}" class="text-gray-800">Calendário</a>
			<a href="{% url 'index' %}" class="bg-blue-100 text-blue-600 px-4 py-2 rounded-full font-bold">Semana</a>
			<a href="{% url 'hoje' %}" class="text-gray-800">Hoje</a>
			<a href="{% url 'metas' %}" class="text-gray-800">Metas</a>
			<a href="{% url 'relatorios' %}" class="text-gray-800">Relatórios</a>
		</div>
	</nav>

	<!-- Div para os conteudos do painel principal e os dias da semana -->
	<div>
		<!-- Div do painel de cima: planejamento semanal e botao de nova atividade -->
		<div class="grid grid-cols-2 gap-4 m-6">
			<!-- Div do planejamento semanal -->
			<div class="pl-5">
				<h2 class="text-3xl font-bold">Planejamento Semanal</h2>
				<p class="text-gray-400 text-sm mt-1">16 a 22 de Maio, 2026</p>
			</div>

			<!-- Div do botao de nova atividade -->
			<div class="flex justify-end pr-10 py-1">
				<button class="bg-blue-600 text-white rounded-xl px-5 py-1.5 hover:scale-110 duration-200 ease-in-out" id="botao_nova_atividade">+ Nova Atividade</button>
			</div>
		</div>

		<!-- Nova atividade (escondida ate clickar no botao) -->
		<div class="p-5 pl-32 pr-32 hidden" id="caixa_nova_atividade">
			<!-- Div para caixa -->
			<div class="bg-gray-50 border-blue-300 border-2 rounded-lg p-5 mb-2 shadow-xl">
				<p class="text-lg mb-3"> Adicionar Atividade </p>
				<div class="flex gap-5">
					<div class="flex justify-between gap-6">
						<!-- Caixa para o usuario digitar o nome da atividade -->
						<input type="text" id="caixa_nome" name="nome" placeholder="Nome da atividade" class="border-2 rounded-lg bg-gray-50 p-3 w-96 placeholder:text-gray-500">
						<!-- Caixa para o usuario depositar as horas trabalhadas na atividade -->
						<select id="caixa_dia_semana" name="dia_semana" class="border-2 rounded-lg bg-gray-50 p-3 w-96">
							<option value="Segunda">Segunda</option>
							<option value="Terça">Terça</option>
							<option value="Quarta">Quarta</option>
							<option value="Quinta">Quinta</option>
							<option value="Sexta">Sexta</option>
							<option value="Sábado">Sábado</option>
							<option value="Domingo">Domingo</option>
						</select>
						<!-- Caixa para o usuario depositar as horas trabalhadas na atividade -->
						<input type="number" id="caixa_horas" placeholder="Horas trabalhadas" min="0" max="1000" step="0.5" class="border-2 rounded-lg bg-gray-50 p-3 w-48">
					</div>
					<div class="flex ml-8 gap-3">
						<button class="bg-blue-600 text-white rounded-xl px-5 py-3 hover:scale-110 duration-200 ease-in-out" id="botao_adicionar">Adicionar atividade</button>
						<button class="bg-gray-300 text-black rounded-xl px-5 py-3 hover:scale-110 duration-200 ease-in-out" id="botao_adicionar_cancelar">Cancelar</button>
					</div>
				</div>	
			</div>
		</div>

		<!-- Div para os dias da semana -->
		<div class="grid grid-cols-1 gap-4 pl-10 pr-16 py-5">
			<!-- Para cada dia da semana... -->
			{% for dia, atividades in atividades_por_dia %}
				<!-- Div para o dia atual -->
				<div>
					<!-- Header -->
					<div class="flex bg-gradient-to-r from-gray-100 to-blue-100 text-black rounded-t-lg pl-5 pr-4 py-4">
						<p class="text-lg">{{ dia }}</p>
						<p class="text-gray-500 ml-auto" id="total_horas"></p>

					</div>

					<!-- Body -->
					<div class="p-5 rounded-b-lg border-2 shadow-lg" id="div_body_atividade_{{ dia }}">
						<!-- Listando atividades -->
						{% for atividade in atividades %}
							<div class="flex items-center gap-3 bg-gray-50 border-gray-300 border-2 rounded-lg p-3 mb-2" id="div_atividade_{{ atividade.id }}">
								<p>{{ atividade.nome }}</p>
								<!-- Progresso feito -->
								<div class="flex justify-end items-center gap-1 ml-auto">
									<!-- Caixa para o usuario depositar as horas trabalhadas na atividade -->
									{% load l10n %}
									<!-- Retira a localizacao para conseguir formatar o valor -->
									{% localize off %}
									<input type="number" id="{{ atividade.id }}" value="{{ atividade.duracao_horas }}" min="0" max="1000" step="0.5" class="ml-auto border-2 rounded-lg bg-gray-50 p-1">
									{% endlocalize %}
									<p class="text-gray-500">/5h</p>
									<!-- Botao deletar  -->
									<div id="botao_deletar_{{ atividade.id }}" class="hover:scale-110 duration-200 ease-in-out bg-red-500 text-white rounded-lg px-3 pt-1 ml-10">
										<input type="image" src="{% static 'img/trash-icon.png' %}" alt="Lixeira" class="w-7 h-6"/>
									</div>
									<!-- Adicionar barra de progresso... -->
								</div>
							</div>
							{% empty %}
								<p class="text-gray-500">Nenhuma atividade planejada.</p>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<script>
    	const TRASH_ICON = "{% static 'img/trash-icon.png' %}";
	</script>
	<script src="{% static 'home/js/script.js' %}"></script>
</body>

</html>