<!DOCTYPE html>
<html lang="pt-BR">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Goal Tracer</title>

		<script src="https://cdn.tailwindcss.com"></script>
		<!-- Carregando o favicon -->
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'img/favicon.svg' %}" class="rounded-lg">
	</head>



	<body>
		<!-- Agrupamento dos links da pagina  -->
		<nav class="bg-white-600 flex shadow-sm px-6 py-4 justify-between">
			<!-- Div da logo e o titulo -->
			<div class="flex">
				{% load static %}
				<img src="{% static 'img/small-logo.png' %}" alt="Logo" class="w-[60px] h-auto">
				<h1 class="text-2xl font-bold p-2">Goal Tracer</h1>
			</div>
			<!-- Div dos links -->
			<div class="flex items-center gap-6 text-gray-500 text-sm">
				<a href="{% url 'calendario' %}" class="text-gray-800">Calendário</a>
				<a href="{% url 'index' %}" class="text-gray-800">Semana</a>
				<a href="{% url 'hoje' %}" class="text-gray-800">Hoje</a>
				<a href="{% url 'metas' %}" class="bg-blue-100 text-blue-600 px-4 py-2 rounded-full font-bold">Metas</a>
				<a href="{% url 'relatorios' %}" class="text-gray-800">Relatórios</a>
			</div>
		</nav>


		<div>
			<div class="p-6">
				<h2 class="text-3xl font-bold">Metas da Semana</h2>
				<form method="POST" class="flex gap-2 mt-4">
					{% csrf_token %}

					<input
						type="text"
						name="nome"
						placeholder="Nome"
						class="border p-2 rounded"
					>

					<input
						type="number"
						step="0.5"
						name="meta_horas"
						placeholder="Meta"
						class="border p-2 rounded"
					>

					<input
						type="number"
						step="0.5"
						name="horas_feitas"
						placeholder="Feito"
						class="border p-2 rounded"
					>

					<button
						type="submit"
						class="bg-blue-500 text-white px-4 rounded"
					>
						Adicionar
					</button>
				</form>
			</div>

			<div class="grid grid-cols-3 gap-4">
				<div class="bg-purple-600 text-white rounded-xl p-5">
					<p class="text-lg">Metas atingidas</p>
					<p class="text-2xl font-bold pt-4">{{ metas_atingidas }}/{{ total_metas }}</p>
				</div>

				<div class="bg-blue-600 text-white rounded-xl p-5">
					<p class="text-lg">Progresso Médio</p>
					<p class="text-2xl font-bold pt-4">{{ progresso_medio }}%</p>
				</div>

				<div class="bg-green-600 text-white rounded-xl p-5">
					<p class="text-lg">Status Geral</p>
					<p class="text-2xl font-bold pt-4">{{ status }}</p>
				</div>
			</div>
		</div>

		<div>
			{% for meta in metas %}
			<div class="bg-white rounded-xl border border-gray-100 p-6 mt-4">
				<div class="flex justify-between mb-3">
					<h4 class="font-semibold text-lg">{{ meta.nome }}</h4>
					<div>{{ meta.horas_feitas }}/{{ meta.meta_horas }}h</div>
				</div>

				<div class="w-full bg-gray-200 h-2 rounded-full">
					<div class="bg-blue-500 h-2 rounded-full" style="width: {{ meta.percentual }}%"></div>
				</div>

				<p class="mt-2 text-sm text-gray-500">{{ meta.percentual }}% concluído</p>

				<div class="flex gap-2 mt-4">
					<form method="POST">
						{% csrf_token %}
						<input type="hidden" name="add_hour_id" value="{{ meta.id }}">
						<button type="submit" class="px-3 py-1 bg-blue-500 text-white rounded">
							+1h
						</button>
					</form>

					<form method="POST">
						{% csrf_token %}
						<input type="hidden" name="delete_id" value="{{ meta.id }}">
						<button type="submit" class="px-3 py-1 bg-red-500 text-white rounded">
							Excluir
						</button>
					</form>
				</div>
			</div>
			{% endfor %}
		</div>

	</body>

</html>