<!DOCTYPE html>
<html lang="pt-BR">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Goal Tracer</title>

		<script src="https://cdn.tailwindcss.com"></script>
		<!-- Carregando o favicon -->
		{% load static %}
		<link rel="icon" type="image/png" href="{% static 'img/favicon.svg' %}" class="rounded-lg">
	</head>



	<body>
		<!-- Agrupamento dos links da pagina  -->
		<nav class="bg-white-600 flex shadow-sm px-6 py-4 justify-between">
			<!-- Div da logo e o titulo -->
			<div class="flex">
				{% load static %}
				<img src="{% static 'img/small-logo.png' %}" alt="Logo" class="w-[60px] h-auto">
				<h1 class="text-2xl font-bold p-2">Goal Tracer</h1>
			</div>
			<!-- Div dos links -->
			<div class="flex items-center gap-6 text-gray-500 text-sm">
				<a href="{% url 'calendario' %}" class="text-gray-800">Calendário</a>
				<a href="{% url 'index' %}" class="text-gray-800">Semana</a>
				<a href="{% url 'hoje' %}" class="text-gray-800">Hoje</a>
				<a href="{% url 'metas' %}" class="bg-blue-100 text-blue-600 px-4 py-2 rounded-full font-bold">Metas</a>
				<a href="{% url 'relatorios' %}" class="text-gray-800">Relatórios</a>
			</div>
		</nav>


		<div>
			<div class="p-6">
				<h2 class="text-3xl font-bold">Metas da Semana</h2>
				<p class="text-gray-400 text-sm mt-1">16 a 22 de Maio, 2026</p>
			</div>

			<div class="grid grid-cols-3 gap-4">
				<div class="bg-purple-600 text-white rounded-xl p-5">
					<p class="text-lg">Metas atingidas</p>
					<div></div>
					<p class="text-2xl font-bold pt-4">1/4</p>
				</div>

				<div class="bg-blue-600 text-white rounded-xl p-5">
					<p class="text-lg">Progresso Médio</p>
					<p class="text-2xl font-bold pt-4">82%</p>
				</div>

				<div class="bg-green-600 text-white rounded-xl p-5">
					<p class="text-lg">Status Geral</p>
					<p class="text-2xl font-bold pt-4">Excelente!</p>
				</div>
			</div>
		</div>

		<div>
			<div class="bg-white rounded-xl border border-gray-100 p-6">
				<div class="flex justify-between mb-3">
					<div class="flex gap-2">
						<h4 class="font-semibold text-lg">Estudo</h4>
						<p class="bg-gray-100 text-gray-600 text-xs px-2 py-0.5 rounded">Desenvolvimento</p>
					</div>
					<div class="flex">
						<p class="text-2xl font-bold">12.5</p>
						<p class="text-gray-400">/15h</p>
					</div>
				</div>

				<div class="bg-blue-500 h-2 rounded-full" style="width: 83%"></div>

				<div class="flex justify-between text-xs mt-2">
					<p class="text-gray-400">83% concluído</p>
					<p class="text-blue-600">No caminho certo</p>
				</div>
			</div>

			<div class="bg-white rounded-xl border border-gray-100 p-6">
				<div class="flex justify-between mb-3">
					<div class="flex gap-2">
						<h4 class="font-semibold text-lg">Exercícios</h4>
						<p class="bg-gray-100 text-gray-600 text-xs px-2 py-0.5 rounded">Saúde</p>
					</div>
					<div class="flex">
						<p class="text-2xl font-bold">6</p>
						<p class="text-gray-400">/5h</p>
					</div>
				</div>

				<div class="bg-green-500 h-2 rounded-full" style="width: 100%"></div>
				<div class="flex justify-between text-xs mt-2">
					<p class="text-gray-400">100% concluído</p>
					<p class="text-green-600">Meta atingida!</p>
				</div>
			</div>

			<div class="bg-yellow-50 border border-yellow-200 rounded-xl p-6">
				<div class="flex justify-between mb-3">
					<div class="flex gap-2">
						<h4 class="font-semibold text-lg">Leitura</h4>
						<p class="bg-gray-100 text-gray-600 text-xs px-2 py-0.5 rounded">Lazer</p>
					</div>
					<div class="flex">
						<p class="text-2xl font-bold">1.5</p>
						<p class="text-gray-400">/3h</p>
					</div>
				</div>

				<div class="bg-yellow-500 h-2 rounded-full" style="width: 50%"></div>

				<div class="flex justify-between text-xs mt-2">
					<p class="text-yellow-700">50% concluído</p>
					<p class="text-yellow-700">Atenção necessária</p>
				</div>
			</div>

			<div class="bg-white rounded-xl border border-gray-100 p-6">
				<div class="flex justify-between mb-3">
					<div class="flex gap-2">
						<h4 class="font-semibold text-lg">Tarefas concluídas</h4>
						<p class="bg-gray-100 text-gray-600 text-xs px-2 py-0.5 rounded">Produtividade</p>
					</div>
					<div class="flex">
						<p class="text-2xl font-bold">15</p>
						<p class="text-gray-400">/20 atividades</p>
					</div>
				</div>
				<div class="bg-blue-500 h-2 rounded-full" style="width: 75%"></div>

				<div class="flex justify-between text-xs mt-2">
					<p class="text-gray-700">75% concluído</p>
					<p class="text-blue-600">No caminho certo</p>
				</div>
			</div>

			<div class="bg-white rounded-xl border border-gray-100 p-8">
				<h5 class="font-semibold text-lg">
					<p>Dica da Semana</p>
				</h5>
				<p class="text-gray-500 text-sm">
					Você está indo muito bem! Foque nas metas com atenção necessária e termine a semana com chave de ouro.
					Pequenos esforços diários fazem grande diferença.
				</p>
			</div>

		</div>

	</body>

</html>